@{
    ViewData["Title"] = "Eliminar un registro";
    var nuevoID = ViewData["nuevoID"];
}



<h2>@ViewData["Title"]</h2>
<br>
<div>
    <h1>Hecho</h1>
</div>

<a class="brn brn-success" href="/Visitas">Regresar</a>
