<div class="text-center">
    <h1>Registro de usuarios sesion</h1>
</div>
<form asp-action="session" class="row g-3" method="POST">

    <div class="col-md-4">
        <label for="validationServer01" class="form-label">Usuario</label>
        <input type="text" class="form-control is-valid" name="Usuario" value="Mark" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>


    <div class="col-md-4">
        <label for="validationServer02" class="form-label">contraseña</label>
        <input type="text" class="form-control is-valid" name="Contrasenia" value="Otto" required>
        <div class="invalid-feedback">
            Mínimo 8 caracteres.
            Tenga al menos una letra en mayúscula.
            Tenga al menos un carácter especial (@@, %, $, #, &)
        </div>
    </div>


    <div class="col-md-6">
        <label for="validationServer03" class="form-label">Tiempo de sesion</label>
        <input type="number" class="form-control is-invalid" name="Tiempo" aria-describedby="validationServer03Feedback"
            required>
        <div id="validationServer03Feedback" class="invalid-feedback">
            Please provide a valid city.
        </div>
    </div>

    <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit form</button>
    </div>


</form>
<br>
<br>
<br>
<br>