@{
    ViewData["Title"] = "TPascal";
}

<h1>Triangulo de Pascal</h1>
<p>Codigo que ejecutas y crea un triangulo de pascal</p>

<form asp-action="GenerarT">
    <h3>Dimensiones</h3>
    <label for="">Filas:</label>
    <input type="number" name="filas">
    <br>
    <button type="submit" class="btn btn-success">Generar</button>
</form>