<div>
    <h3>Existe una coockie</h3>
    <br>
    <p>Nombre y correo Insertados en al cookie: </p>
    <p>@ViewData["coockie"]</p>

</div>


<a class="btn btn-warning" asp-action="comprobar">Comprobar</a>

<br>
<br>

<br>
<br><br>
<br>
<br>
<br>